@media only screen and (min-width: 0px) and (max-width: 321px) {
  .pricing-container {
    .pricing-wrapper {
      padding-top: 150px;
      color: white;
      background-image: url("pexelsdanielreche3601094adjusted.jpg");
      background-repeat: no-repeat;
      background-size: 360% auto;
      background-position: center -0px;
      width: 1200px;
      .pricing-header-wrapper {
        text-align: center;
        .pricing-header {
          width: 100%;
          font-size: 100px;
          font-weight: 600;
        }
        .pricing-divider {
          margin-top: 50px;
          margin-bottom: 50px;
          width: 200px;
          border-top: 5px solid white;
          margin-left: auto;
          margin-right: auto;
        }
        .pricing-text {
          //   padding-left: 50px;
          //   padding-right: 50px;
          margin-left: auto;
          margin-right: auto;
          font-size: 40px;
          font-weight: 700px;
          max-width: 600px;
        }
      }
      .pricing-cards-wrapper {
        display: flex;
        margin-top: 75px;
        padding-bottom: 0px;
        justify-content: center;
        flex-direction: column;
        .pricing-card {
          margin-right: auto;
          margin-left: auto;
          margin-bottom: 88px;
          width: 600px;
          //   max-height: 447px;
          text-align: center;
          padding: 30px;
          background-color: white;
          .pricing-card-title {
            padding-top: 20px;
            color: #ff6c00;
            font-size: 55px;
            font-weight: 600;
          }
          .organizer-image-wrapper {
            margin: 50px 0;
            margin-left: auto;
            margin-right: auto;
            height: auto;
            width: 110.3275px;
            > * {
              > * {
                width: 100%;
                height: 100%;
              }
            }
          }
          .supporter-image-wrapper {
            margin: 50px 0;
            margin-left: auto;
            margin-right: auto;
            height: auto;
            width: 175px;
            > * {
              > * {
                width: 100%;
                height: 100%;
              }
            }
          }
          .pricing-subheader-wrapper {
            color: black;
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
            .pricing-percentage-wrapper {
              padding: 30px;
              .pricing-subheader {
                font-weight: 500;
                font-size: 45px;
              }
              .pricing-percentage {
                font-weight: bolder;
                font-size: 50px;
              }
            }
            .pricing-cents {
              font-weight: bolder;
              font-size: 50px;
              padding-top: 15px;
            }
            .pricing-subheader-text {
              font-weight: 500;
              font-size: 45px;
              padding-bottom: 15px;
            }
          }
          .pricing-text {
            color: black;
            padding-left: 70px;
            padding-right: 70px;
            font-size: 30px;
          }
          .pricing-sub-text-wrapper {
            color: black;
            font-size: 24px;
            margin-top: 30px;
            margin-bottom: 30px;
          }
          .pricing-button {
            border: 2.5px solid #ff6c00;
            border-radius: 75px;
            display: inline-block;
            color: #ff6c00;
            text-align: center;
            padding: 20px 62.5px;
            font-size: 27.5px;
            font-weight: 600;
            margin-top: 52px;
            cursor: none;
            margin-bottom: 20px;
          }
          .pricing-button:hover {
            background-color: #ff6c00;
            color: white;
          }
          .pricing-event-button {
            border: 2.5px solid #ff6c00;
            border-radius: 75px;
            display: inline-block;
            color: #ff6c00;
            text-align: center;
            padding: 20px 62.5px;
            font-size: 27.5px;
            font-weight: 600;
            margin-top: 52px;
            cursor: none;
            margin-bottom: 20px;
          }
          .pricing-event-button:hover {
            background-color: #ff6c00;
            color: white;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 321px) and (max-width: 376px) {
  .pricing-container {
    .pricing-wrapper {
      padding-top: 150px;
      color: white;
      background-image: url("pexelsdanielreche3601094adjusted.jpg");
      background-repeat: no-repeat;
      background-size: 360% auto;
      background-position: center -0px;
      width: 1200px;
      .pricing-header-wrapper {
        text-align: center;
        .pricing-header {
          width: 100%;
          font-size: 100px;
          font-weight: 600;
        }
        .pricing-divider {
          margin-top: 50px;
          margin-bottom: 50px;
          width: 200px;
          border-top: 5px solid white;
          margin-left: auto;
          margin-right: auto;
        }
        .pricing-text {
          //   padding-left: 50px;
          //   padding-right: 50px;
          margin-left: auto;
          margin-right: auto;
          font-size: 40px;
          font-weight: 700px;
          max-width: 600px;
        }
      }
      .pricing-cards-wrapper {
        display: flex;
        margin-top: 75px;
        padding-bottom: 0px;
        justify-content: center;
        flex-direction: column;
        .pricing-card {
          margin-right: auto;
          margin-left: auto;
          margin-bottom: 88px;
          width: 600px;
          //   max-height: 447px;
          text-align: center;
          padding: 30px;
          background-color: white;
          .pricing-card-title {
            padding-top: 20px;
            color: #ff6c00;
            font-size: 55px;
            font-weight: 600;
          }
          .organizer-image-wrapper {
            margin: 50px 0;
            margin-left: auto;
            margin-right: auto;
            height: auto;
            width: 110.3275px;
            > * {
              > * {
                width: 100%;
                height: 100%;
              }
            }
          }
          .supporter-image-wrapper {
            margin: 50px 0;
            margin-left: auto;
            margin-right: auto;
            height: auto;
            width: 175px;
            > * {
              > * {
                width: 100%;
                height: 100%;
              }
            }
          }
          .pricing-subheader-wrapper {
            color: black;
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
            .pricing-percentage-wrapper {
              padding: 30px;
              .pricing-subheader {
                font-weight: 500;
                font-size: 45px;
              }
              .pricing-percentage {
                font-weight: bolder;
                font-size: 50px;
              }
            }
            .pricing-cents {
              font-weight: bolder;
              font-size: 50px;
              padding-top: 15px;
            }
            .pricing-subheader-text {
              font-weight: 500;
              font-size: 45px;
              padding-bottom: 15px;
            }
          }
          .pricing-text {
            color: black;
            padding-left: 70px;
            padding-right: 70px;
            font-size: 30px;
          }
          .pricing-sub-text-wrapper {
            color: black;
            font-size: 24px;
            margin-top: 30px;
            margin-bottom: 30px;
          }
          .pricing-button {
            border: 2.5px solid #ff6c00;
            border-radius: 75px;
            display: inline-block;
            color: #ff6c00;
            text-align: center;
            padding: 20px 62.5px;
            font-size: 27.5px;
            font-weight: 600;
            margin-top: 52px;
            cursor: none;
            margin-bottom: 20px;
          }
          .pricing-button:hover {
            background-color: #ff6c00;
            color: white;
          }
          .pricing-event-button {
            border: 2.5px solid #ff6c00;
            border-radius: 75px;
            display: inline-block;
            color: #ff6c00;
            text-align: center;
            padding: 20px 62.5px;
            font-size: 27.5px;
            font-weight: 600;
            margin-top: 52px;
            cursor: none;
            margin-bottom: 20px;
          }
          .pricing-event-button:hover {
            background-color: #ff6c00;
            color: white;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 376px) and (max-width: 426px) {
  .pricing-container {
    .pricing-wrapper {
      padding-top: 150px;
      color: white;
      background-image: url("pexelsdanielreche3601094adjusted.jpg");
      background-repeat: no-repeat;
      background-size: 360% auto;
      background-position: center -0px;
      width: 1200px;
      .pricing-header-wrapper {
        text-align: center;
        .pricing-header {
          width: 100%;
          font-size: 100px;
          font-weight: 600;
        }
        .pricing-divider {
          margin-top: 50px;
          margin-bottom: 50px;
          width: 200px;
          border-top: 5px solid white;
          margin-left: auto;
          margin-right: auto;
        }
        .pricing-text {
          //   padding-left: 50px;
          //   padding-right: 50px;
          margin-left: auto;
          margin-right: auto;
          font-size: 40px;
          font-weight: 700px;
          max-width: 600px;
        }
      }
      .pricing-cards-wrapper {
        display: flex;
        margin-top: 75px;
        padding-bottom: 0px;
        justify-content: center;
        flex-direction: column;
        .pricing-card {
          margin-right: auto;
          margin-left: auto;
          margin-bottom: 88px;
          width: 600px;
          //   max-height: 447px;
          text-align: center;
          padding: 30px;
          background-color: white;
          .pricing-card-title {
            padding-top: 20px;
            color: #ff6c00;
            font-size: 55px;
            font-weight: 600;
          }
          .organizer-image-wrapper {
            margin: 50px 0;
            margin-left: auto;
            margin-right: auto;
            height: auto;
            width: 110.3275px;
            > * {
              > * {
                width: 100%;
                height: 100%;
              }
            }
          }
          .supporter-image-wrapper {
            margin: 50px 0;
            margin-left: auto;
            margin-right: auto;
            height: auto;
            width: 175px;
            > * {
              > * {
                width: 100%;
                height: 100%;
              }
            }
          }
          .pricing-subheader-wrapper {
            color: black;
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
            .pricing-percentage-wrapper {
              padding: 30px;
              .pricing-subheader {
                font-weight: 500;
                font-size: 45px;
              }
              .pricing-percentage {
                font-weight: bolder;
                font-size: 50px;
              }
            }
            .pricing-cents {
              font-weight: bolder;
              font-size: 50px;
              padding-top: 15px;
            }
            .pricing-subheader-text {
              font-weight: 500;
              font-size: 45px;
              padding-bottom: 15px;
            }
          }
          .pricing-text {
            color: black;
            padding-left: 70px;
            padding-right: 70px;
            font-size: 30px;
          }
          .pricing-sub-text-wrapper {
            color: black;
            font-size: 24px;
            margin-top: 30px;
            margin-bottom: 30px;
          }
          .pricing-button {
            border: 2.5px solid #ff6c00;
            border-radius: 75px;
            display: inline-block;
            color: #ff6c00;
            text-align: center;
            padding: 20px 62.5px;
            font-size: 27.5px;
            font-weight: 600;
            margin-top: 52px;
            cursor: none;
            margin-bottom: 20px;
          }
          .pricing-button:hover {
            background-color: #ff6c00;
            color: white;
          }
          .pricing-event-button {
            border: 2.5px solid #ff6c00;
            border-radius: 75px;
            display: inline-block;
            color: #ff6c00;
            text-align: center;
            padding: 20px 62.5px;
            font-size: 27.5px;
            font-weight: 600;
            margin-top: 52px;
            cursor: none;
            margin-bottom: 20px;
          }
          .pricing-event-button:hover {
            background-color: #ff6c00;
            color: white;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 427px) and (max-width: 769px) {
  .pricing-container {
    width: 1200px;
    .pricing-wrapper {
      padding-top: 50px;
      color: white;
      background-image: url("pexelsdanielreche3601094adjusted.jpg");
      background-repeat: no-repeat;
      background-size: 150% auto;
      background-position: center -0px;
      .pricing-header-wrapper {
        text-align: center;
        .pricing-header {
          width: 100%;
          font-size: 66.66666666px;
          font-weight: 600;
        }
        .pricing-divider {
          margin-top: 20px;
          margin-bottom: 20px;
          width: 160px;
          border-top: 3.33333333px solid white;
          margin-left: auto;
          margin-right: auto;
        }
        .pricing-text {
          padding-left: 50px;
          padding-right: 50px;
          margin-left: auto;
          margin-right: auto;
          font-size: 21.666666px;
          font-weight: 600px;
          max-width: 750px;
        }
      }
      .pricing-cards-wrapper {
        display: flex;
        margin-top: 50px;
        padding-bottom: 70px;
        justify-content: center;
        .pricing-card {
          width: 375px;
          max-height: 745px;
          text-align: center;
          padding: 20px;
          margin-left: 25px;
          margin-right: 25px;
          background-color: white;
          .pricing-card-title {
            color: #ff6c00;
            font-size: 33.333333px;
            font-weight: 600;
          }
          .organizer-image-wrapper {
            margin: 41.666666px 0;
            margin-left: auto;
            margin-right: auto;
            height: auto;
            width: 73.5516px;
            > * {
              > * {
                width: 100%;
                height: 100%;
              }
            }
          }
          .supporter-image-wrapper {
            margin: 41.666666px 0;
            margin-left: auto;
            margin-right: auto;
            height: auto;
            width: 116.666666px;
            > * {
              > * {
                width: 100%;
                height: 100%;
              }
            }
          }
          .pricing-subheader-wrapper {
            color: black;
            display: flex;
            justify-content: center;
            .pricing-percentage-wrapper {
              padding: 10px;
              .pricing-subheader {
                font-weight: 500;
              }
              .pricing-percentage {
                font-weight: bolder;
                font-size: 30px;
              }
            }
            .pricing-cents {
              font-weight: bolder;
              font-size: 30px;
              padding-top: 10px;
            }
            .pricing-subheader-text {
              font-weight: 500;
              font-size: 28.333333px;
              padding-bottom: 10px;
            }
          }
          .pricing-text {
            color: black;
            padding-left: 30px;
            padding-right: 30px;
            font-size: 20px;
          }
          .pricing-sub-text-wrapper {
            color: black;
            font-size: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
          }
          .pricing-button {
            border: 1.66666666px solid #ff6c00;
            border-radius: 50px;
            display: inline-block;
            color: #ff6c00;
            text-align: center;
            padding: 13.3333333px 41.666666px;
            font-size: 18.333333px;
            font-weight: 600;
            margin-top: 140px;
          }
          .pricing-button:hover {
            background-color: #ff6c00;
            color: white;
            cursor: pointer;
          }
          .pricing-event-button {
            border: 1.66666666px solid #ff6c00;
            border-radius: 50px;
            display: inline-block;
            color: #ff6c00;
            text-align: center;
            padding: 13.3333333px 41.666666px;
            font-size: 18.333333px;
            font-weight: 600;
            margin-top: 52px;
          }
          .pricing-event-button:hover {
            background-color: #ff6c00;
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 770px) and (max-width: 1025px) {
  .pricing-container {
    .pricing-wrapper {
      padding-top: 75px;
      color: white;
      background-image: url("pexelsdanielreche3601094adjusted.jpg");
      background-repeat: no-repeat;
      background-size: 170% auto;
      background-position: center -60px;
      .pricing-header-wrapper {
        text-align: center;
        .pricing-header {
          width: 100%;
          font-size: 28.4px;
          font-weight: 600;
        }
        .pricing-divider {
          margin-top: 20px;
          margin-bottom: 20px;
          width: 160px;
          border-top: 2px solid white;
          margin-left: auto;
          margin-right: auto;
        }
        .pricing-text {
          padding-left: 50px;
          padding-right: 50px;
          margin-left: auto;
          margin-right: auto;
          font-size: 13px;
          font-weight: 600px;
          max-width: 450px;
        }
      }
      .pricing-cards-wrapper {
        display: flex;
        margin-top: 75px;
        padding-bottom: 70px;
        justify-content: center;
        .pricing-card {
          width: 225px;
          max-height: 447px;
          text-align: center;
          padding: 20px;
          margin-left: 25px;
          margin-right: 25px;
          background-color: white;
          .pricing-card-title {
            color: #ff6c00;
            font-size: 20px;
            font-weight: 600;
          }
          .organizer-image-wrapper {
            margin: 25px 0;
            margin-left: auto;
            margin-right: auto;
            height: auto;
            width: 44.131px;
            > * {
              > * {
                width: 100%;
                height: 100%;
              }
            }
          }
          .supporter-image-wrapper {
            margin: 25px 0;
            margin-left: auto;
            margin-right: auto;
            height: auto;
            width: 70px;
            > * {
              > * {
                width: 100%;
                height: 100%;
              }
            }
          }
          .pricing-subheader-wrapper {
            color: black;
            display: flex;
            justify-content: center;
            .pricing-percentage-wrapper {
              padding: 10px;
              .pricing-subheader {
                font-weight: 500;
              }
              .pricing-percentage {
                font-weight: bolder;
                font-size: 18px;
              }
            }
            .pricing-cents {
              font-weight: bolder;
              font-size: 18px;
              padding-top: 10px;
            }
            .pricing-subheader-text {
              font-weight: 500;
              font-size: 17px;
              padding-bottom: 10px;
            }
          }
          .pricing-text {
            color: black;
            padding-left: 30px;
            padding-right: 30px;
            font-size: 12px;
          }
          .pricing-sub-text-wrapper {
            color: black;
            font-size: 12px;
            margin-top: 10px;
            margin-bottom: 10px;
          }
          .pricing-button {
            border: 1px solid #ff6c00;
            border-radius: 30px;
            display: inline-block;
            color: #ff6c00;
            text-align: center;
            padding: 8px 25px;
            font-size: 11px;
            font-weight: 600;
            margin-top: 52px;
          }
          .pricing-button:hover {
            background-color: #ff6c00;
            color: white;
            cursor: pointer;
          }
          .pricing-event-button {
            border: 1px solid #ff6c00;
            border-radius: 30px;
            display: inline-block;
            color: #ff6c00;
            text-align: center;
            padding: 8px 25px;
            font-size: 11px;
            font-weight: 600;
          }
          .pricing-event-button:hover {
            background-color: #ff6c00;
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1026px) and (max-width: 1441px) {
  .pricing-container {
    .pricing-wrapper {
      padding-top: 75px;
      color: white;
      background-image: url("pexelsdanielreche3601094adjusted.jpg");
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: center -60px;
      .pricing-header-wrapper {
        text-align: center;
        .pricing-header {
          width: 100%;
          font-size: 40px;
          font-weight: 600;
        }
        .pricing-divider {
          margin-top: 20px;
          margin-bottom: 20px;
          width: 160px;
          border-top: 2px solid white;
          margin-left: auto;
          margin-right: auto;
        }
        .pricing-text {
          padding-left: 50px;
          padding-right: 50px;
          margin-left: auto;
          margin-right: auto;
          font-size: 13px;
          font-weight: 600px;
          max-width: 450px;
        }
      }
      .pricing-cards-wrapper {
        display: flex;
        margin-top: 75px;
        padding-bottom: 70px;
        justify-content: center;
        .pricing-card {
          width: 225px;
          max-height: 447px;
          text-align: center;
          padding: 20px;
          margin-left: 25px;
          margin-right: 25px;
          background-color: white;
          .pricing-card-title {
            color: #ff6c00;
            font-size: 20px;
            font-weight: 600;
          }
          .organizer-image-wrapper {
            margin: 25px 0;
            margin-left: auto;
            margin-right: auto;
            height: auto;
            width: 44.131px;
            > * {
              > * {
                width: 100%;
                height: 100%;
              }
            }
          }
          .supporter-image-wrapper {
            margin: 25px 0;
            margin-left: auto;
            margin-right: auto;
            height: auto;
            width: 70px;
            > * {
              > * {
                width: 100%;
                height: 100%;
              }
            }
          }
          .pricing-subheader-wrapper {
            color: black;
            display: flex;
            justify-content: center;
            .pricing-percentage-wrapper {
              padding: 10px;
              .pricing-subheader {
                font-weight: 500;
              }
              .pricing-percentage {
                font-weight: bolder;
                font-size: 18px;
              }
            }
            .pricing-cents {
              font-weight: bolder;
              font-size: 18px;
              padding-top: 10px;
            }
            .pricing-subheader-text {
              font-weight: 500;
              font-size: 17px;
              padding-bottom: 10px;
            }
          }
          .pricing-text {
            color: black;
            padding-left: 30px;
            padding-right: 30px;
            font-size: 12px;
          }
          .pricing-sub-text-wrapper {
            color: black;
            font-size: 12px;
            margin-top: 10px;
            margin-bottom: 10px;
          }
          .pricing-button {
            border: 1px solid #ff6c00;
            border-radius: 30px;
            display: inline-block;
            color: #ff6c00;
            text-align: center;
            padding: 8px 25px;
            font-size: 11px;
            font-weight: 600;
            margin-top: 52px;
            transition: 0.3s;
          }
          .pricing-button:hover {
            background-color: #ff6c00;
            color: white;
            cursor: pointer;
          }
          .pricing-event-button {
            border: 1px solid #ff6c00;
            border-radius: 30px;
            display: inline-block;
            color: #ff6c00;
            text-align: center;
            padding: 8px 25px;
            font-size: 11px;
            font-weight: 600;
            transition: 0.3s;
          }
          .pricing-event-button:hover {
            background-color: #ff6c00;
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1441px) {
  .pricing-container {
    .pricing-wrapper {
      padding-top: 75px;
      color: white;
      background-image: url("pexelsdanielreche3601094adjusted.jpg");
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: center -60px;
      .pricing-header-wrapper {
        text-align: center;
        .pricing-header {
          width: 100%;
          font-size: 40px;
          font-weight: 600;
        }
        .pricing-divider {
          margin-top: 20px;
          margin-bottom: 20px;
          width: 160px;
          border-top: 2px solid white;
          margin-left: auto;
          margin-right: auto;
        }
        .pricing-text {
          padding-left: 50px;
          padding-right: 50px;
          margin-left: auto;
          margin-right: auto;
          font-size: 13px;
          font-weight: 600px;
          max-width: 450px;
        }
      }
      .pricing-cards-wrapper {
        display: flex;
        margin-top: 75px;
        padding-bottom: 70px;
        justify-content: center;
        .pricing-card {
          width: 225px;
          max-height: 447px;
          text-align: center;
          padding: 20px;
          margin-left: 25px;
          margin-right: 25px;
          background-color: white;
          .pricing-card-title {
            color: #ff6c00;
            font-size: 20px;
            font-weight: 600;
          }
          .organizer-image-wrapper {
            margin: 25px 0;
            margin-left: auto;
            margin-right: auto;
            height: auto;
            width: 44.131px;
            > * {
              > * {
                width: 100%;
                height: 100%;
              }
            }
          }
          .supporter-image-wrapper {
            margin: 25px 0;
            margin-left: auto;
            margin-right: auto;
            height: auto;
            width: 70px;
            > * {
              > * {
                width: 100%;
                height: 100%;
              }
            }
          }
          .pricing-subheader-wrapper {
            color: black;
            display: flex;
            justify-content: center;
            .pricing-percentage-wrapper {
              padding: 10px;
              .pricing-subheader {
                font-weight: 500;
              }
              .pricing-percentage {
                font-weight: bolder;
                font-size: 18px;
              }
            }
            .pricing-cents {
              font-weight: bolder;
              font-size: 18px;
              padding-top: 10px;
            }
            .pricing-subheader-text {
              font-weight: 500;
              font-size: 17px;
              padding-bottom: 10px;
            }
          }
          .pricing-text {
            color: black;
            padding-left: 30px;
            padding-right: 30px;
            font-size: 12px;
          }
          .pricing-sub-text-wrapper {
            color: black;
            font-size: 12px;
            margin-top: 10px;
            margin-bottom: 10px;
          }
          .pricing-button {
            border: 1px solid #ff6c00;
            border-radius: 30px;
            display: inline-block;
            color: #ff6c00;
            text-align: center;
            padding: 8px 25px;
            font-size: 11px;
            font-weight: 600;
            margin-top: 52px;
          }
          .pricing-button:hover {
            background-color: #ff6c00;
            color: white;
            cursor: pointer;
          }
          .pricing-event-button {
            border: 1px solid #ff6c00;
            border-radius: 30px;
            display: inline-block;
            color: #ff6c00;
            text-align: center;
            padding: 8px 25px;
            font-size: 11px;
            font-weight: 600;
          }
          .pricing-event-button:hover {
            background-color: #ff6c00;
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  }
}
