@media only screen and (min-width: 0px) and (max-width: 321px) {
  .moolathon-container {
    padding-top: 100px;
    width: 1200px;
    .header-wrapper {
      padding-top: 100px;
      text-align: center;
      .header {
        color: #ff6c00;
        width: 100%;
        font-size: 100px;
        font-weight: 600;
      }
      .break {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 350px;
        border-top: 5px solid #ff6c00;
        margin-left: auto;
        margin-right: auto;
      }
      .header-text {
        padding-top: 20px;
        padding-left: 200px;
        padding-right: 200px;
        margin-left: auto;
        margin-right: auto;
        font-size: 31px;
        font-weight: 600px;
        max-width: 900px;
      }
    }
    .features-wrapper {
      margin-top: 150px;
      display: flex;
      flex-wrap: wrap;
      margin-left: 70px;
      margin-right: 70px;
      .feature {
        flex: 0 0 50%;
        padding: 50px 0px;
        text-align: center;
        .image-wrapper {
          //   flex: 1;
          margin-left: auto;
          margin-right: auto;
          max-height: 65px;
          height: auto;
          width: 200px;
          padding: 10px;
          > * {
            > * {
              width: 100%;
              height: 100%;
            }
          }
        }
        .feature-header {
          color: #ff6c00;
          font-weight: 600;
          font-size: 35px;
          margin-top: 150px;
        }
        .feature-text {
          padding-top: 15px;
          font-size: 26px;
          font-weight: 400;
          padding-left: 50px;
          padding-right: 50px;
        }
      }
    }
    .button-wrapper {
      width: 100%;
      text-align: center;
      margin-top: 75px;
      .moolathon-button {
        border: 3.1818px solid #ff6c00;
        border-radius: 95.454px;
        display: inline-block;
        color: #ff6c00;
        text-align: center;
        padding: 25.4544px 79.545px;
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 75px;
        cursor: none;
      }
      .moolathon-button:hover {
        background-color: #ff6c00;
        color: white;
      }
    }
  }
}

@media only screen and (min-width: 321px) and (max-width: 376px) {
  .moolathon-container {
    padding-top: 100px;
    width: 1200px;
    .header-wrapper {
      padding-top: 100px;
      text-align: center;
      .header {
        color: #ff6c00;
        width: 100%;
        font-size: 100px;
        font-weight: 600;
      }
      .break {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 350px;
        border-top: 5px solid #ff6c00;
        margin-left: auto;
        margin-right: auto;
      }
      .header-text {
        padding-top: 20px;
        padding-left: 200px;
        padding-right: 200px;
        margin-left: auto;
        margin-right: auto;
        font-size: 31px;
        font-weight: 600px;
        max-width: 900px;
      }
    }
    .features-wrapper {
      margin-top: 150px;
      display: flex;
      flex-wrap: wrap;
      margin-left: 70px;
      margin-right: 70px;
      .feature {
        flex: 0 0 50%;
        padding: 50px 0px;
        text-align: center;
        .image-wrapper {
          //   flex: 1;
          margin-left: auto;
          margin-right: auto;
          max-height: 65px;
          height: auto;
          width: 200px;
          padding: 10px;
          > * {
            > * {
              width: 100%;
              height: 100%;
            }
          }
        }
        .feature-header {
          color: #ff6c00;
          font-weight: 600;
          font-size: 35px;
          margin-top: 150px;
        }
        .feature-text {
          padding-top: 15px;
          font-size: 26px;
          font-weight: 400;
          padding-left: 50px;
          padding-right: 50px;
        }
      }
    }
    .button-wrapper {
      width: 100%;
      text-align: center;
      margin-top: 75px;
      .moolathon-button {
        border: 3.1818px solid #ff6c00;
        border-radius: 95.454px;
        display: inline-block;
        color: #ff6c00;
        text-align: center;
        padding: 25.4544px 79.545px;
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 75px;
        cursor: none;
      }
      .moolathon-button:hover {
        background-color: #ff6c00;
        color: white;
      }
    }
  }
}

@media only screen and (min-width: 376px) and (max-width: 426px) {
  .moolathon-container {
    padding-top: 100px;
    width: 1200px;
    .header-wrapper {
      padding-top: 100px;
      text-align: center;
      .header {
        color: #ff6c00;
        width: 100%;
        font-size: 100px;
        font-weight: 600;
      }
      .break {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 350px;
        border-top: 5px solid #ff6c00;
        margin-left: auto;
        margin-right: auto;
      }
      .header-text {
        padding-top: 20px;
        padding-left: 200px;
        padding-right: 200px;
        margin-left: auto;
        margin-right: auto;
        font-size: 31px;
        font-weight: 600px;
        max-width: 900px;
      }
    }
    .features-wrapper {
      margin-top: 150px;
      display: flex;
      flex-wrap: wrap;
      margin-left: 70px;
      margin-right: 70px;
      .feature {
        flex: 0 0 50%;
        padding: 50px 0px;
        text-align: center;
        .image-wrapper {
          //   flex: 1;
          margin-left: auto;
          margin-right: auto;
          max-height: 65px;
          height: auto;
          width: 200px;
          padding: 10px;
          > * {
            > * {
              width: 100%;
              height: 100%;
            }
          }
        }
        .feature-header {
          color: #ff6c00;
          font-weight: 600;
          font-size: 35px;
          margin-top: 150px;
        }
        .feature-text {
          padding-top: 15px;
          font-size: 26px;
          font-weight: 400;
          padding-left: 50px;
          padding-right: 50px;
        }
      }
    }
    .button-wrapper {
      width: 100%;
      text-align: center;
      margin-top: 75px;
      .moolathon-button {
        border: 3.1818px solid #ff6c00;
        border-radius: 95.454px;
        display: inline-block;
        color: #ff6c00;
        text-align: center;
        padding: 25.4544px 79.545px;
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 75px;
        cursor: none;
      }
      .moolathon-button:hover {
        background-color: #ff6c00;
        color: white;
      }
    }
  }
}
@media only screen and (min-width: 427px) and (max-width: 769px) {
  .moolathon-container {
    padding-top: 250px;
    width: 1200px;
    .header-wrapper {
      text-align: center;
      .header {
        color: #ff6c00;
        width: 100%;
        font-size: 47.3333px;
        font-weight: 600;
      }
      .break {
        margin-top: 25px;
        margin-bottom: 25px;
        width: 200px;
        border-top: 3.33333px solid #ff6c00;
        margin-left: auto;
        margin-right: auto;
      }
      .header-text {
        padding-left: 50px;
        padding-right: 50px;
        margin-left: auto;
        margin-right: auto;
        font-size: 21.666666px;
        font-weight: 600px;
        max-width: 600px;
      }
    }
    .features-wrapper {
      margin-top: 75px;
      display: flex;
      flex-wrap: wrap;
      margin-left: 60px;
      margin-right: 60px;
      .feature {
        flex: 0 0 50%;
        padding: 30px 0px;
        text-align: center;
        .image-wrapper {
          flex: 1;
          margin-left: auto;
          margin-right: auto;
          max-height: 76.66666px;
          height: auto;
          width: 83.333333px;
          padding: 10px;
          > * {
            > * {
              width: 100%;
              height: 100%;
            }
          }
        }
        .feature-header {
          color: #ff6c00;
          font-weight: 600;
          font-size: 26.66666px;
          padding-top: 15px;
        }
        .feature-text {
          padding-top: 15px;
          font-size: 19px;
          font-weight: 400;
          // padding-left: 20px;
          // padding-right: 20px;
        }
      }
    }
    .button-wrapper {
      width: 100%;
      text-align: center;
      margin-top: 75px;
      .moolathon-button {
        border: 1.666666px solid #ff6c00;
        border-radius: 50px;
        display: inline-block;
        color: #ff6c00;
        text-align: center;
        padding: 16.66666px 50px;
        font-size: 18.333333px;
        font-weight: 600;
      }
      .moolathon-button:hover {
        background-color: #ff6c00;
        color: white;
        cursor: pointer;
      }
    }
  }
}

// Need to optimize this one
@media only screen and (min-width: 770px) and (max-width: 1025px) {
  .moolathon-container {
    padding-top: 100px;
    .header-wrapper {
      text-align: center;
      .header {
        color: #ff6c00;
        width: 100%;
        font-size: 40px;
        font-weight: 600;
      }
      .break {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 160px;
        border-top: 2px solid #ff6c00;
        margin-left: auto;
        margin-right: auto;
      }
      .header-text {
        padding-left: 50px;
        padding-right: 50px;
        margin-left: auto;
        margin-right: auto;
        font-size: 13px;
        font-weight: 600px;
        max-width: 450px;
      }
    }
    .features-wrapper {
      margin-top: 75px;
      display: flex;
      margin-left: 60px;
      margin-right: 60px;
      .feature {
        flex: 1;
        padding: 10px 0px;
        text-align: center;
        .image-wrapper {
          flex: 1;
          margin-left: auto;
          margin-right: auto;
          max-height: 65px;
          height: auto;
          width: 70px;
          padding: 10px;
          > * {
            > * {
              width: 100%;
              height: 100%;
            }
          }
        }
        .feature-header {
          color: #ff6c00;
          font-weight: 600;
          font-size: 16px;
          padding-top: 15px;
        }
        .feature-text {
          padding-top: 15px;
          font-size: 13px;
          font-weight: 400;
          padding-left: 25px;
          padding-right: 25px;
        }
      }
    }
    .button-wrapper {
      width: 100%;
      text-align: center;
      margin-top: 75px;
      .moolathon-button {
        border: 1px solid #ff6c00;
        border-radius: 30px;
        display: inline-block;
        color: #ff6c00;
        text-align: center;
        padding: 10px 30px;
        font-size: 15px;
        font-weight: 600;
      }
      .moolathon-button:hover {
        background-color: #ff6c00;
        color: white;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (min-width: 1026px) and (max-width: 1441px) {
  .moolathon-container {
    padding-top: 100px;
    .header-wrapper {
      text-align: center;
      .header {
        color: #ff6c00;
        width: 100%;
        font-size: 40px;
        font-weight: 600;
      }
      .break {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 160px;
        border-top: 2px solid #ff6c00;
        margin-left: auto;
        margin-right: auto;
      }
      .header-text {
        padding-left: 50px;
        padding-right: 50px;
        margin-left: auto;
        margin-right: auto;
        font-size: 13px;
        font-weight: 600px;
        max-width: 450px;
      }
    }
    .features-wrapper {
      margin-top: 75px;
      display: flex;
      margin-left: 60px;
      margin-right: 60px;
      .feature {
        flex: 1;
        padding: 10px 0px;
        text-align: center;
        .image-wrapper {
          flex: 1;
          margin-left: auto;
          margin-right: auto;
          max-height: 65px;
          height: auto;
          width: 70px;
          padding: 10px;
          > * {
            > * {
              width: 100%;
              height: 100%;
            }
          }
        }
        .feature-header {
          color: #ff6c00;
          font-weight: 600;
          font-size: 16px;
          padding-top: 15px;
        }
        .feature-text {
          padding-top: 15px;
          font-size: 13px;
          font-weight: 400;
          padding-left: 25px;
          padding-right: 25px;
        }
      }
    }
    .button-wrapper {
      width: 100%;
      text-align: center;
      margin-top: 75px;
      .moolathon-button {
        border: 1px solid #ff6c00;
        border-radius: 30px;
        display: inline-block;
        color: #ff6c00;
        text-align: center;
        padding: 10px 30px;
        font-size: 15px;
        font-weight: 600;
        transition: 0.3s;
      }
      .moolathon-button:hover {
        background-color: #ff6c00;
        color: white;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (min-width: 1441px) {
  .moolathon-container {
    padding-top: 100px;
    .header-wrapper {
      text-align: center;
      .header {
        color: #ff6c00;
        width: 100%;
        font-size: 40px;
        font-weight: 600;
      }
      .break {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 160px;
        border-top: 2px solid #ff6c00;
        margin-left: auto;
        margin-right: auto;
      }
      .header-text {
        padding-left: 50px;
        padding-right: 50px;
        margin-left: auto;
        margin-right: auto;
        font-size: 13px;
        font-weight: 600px;
        max-width: 450px;
      }
    }
    .features-wrapper {
      margin-top: 75px;
      display: flex;
      margin-left: 60px;
      margin-right: 60px;
      .feature {
        flex: 1;
        padding: 10px 0px;
        text-align: center;
        .image-wrapper {
          flex: 1;
          margin-left: auto;
          margin-right: auto;
          max-height: 65px;
          height: auto;
          width: 70px;
          padding: 10px;
          > * {
            > * {
              width: 100%;
              height: 100%;
            }
          }
        }
        .feature-header {
          color: #ff6c00;
          font-weight: 600;
          font-size: 16px;
          padding-top: 15px;
        }
        .feature-text {
          padding-top: 15px;
          font-size: 13px;
          font-weight: 400;
          padding-left: 25px;
          padding-right: 25px;
        }
      }
    }
    .button-wrapper {
      width: 100%;
      text-align: center;
      margin-top: 75px;
      .moolathon-button {
        border: 1px solid #ff6c00;
        border-radius: 30px;
        display: inline-block;
        color: #ff6c00;
        text-align: center;
        padding: 10px 30px;
        font-size: 15px;
        font-weight: 600;
      }
      .moolathon-button:hover {
        background-color: #ff6c00;
        color: white;
        cursor: pointer;
      }
    }
  }
}
